<div class="d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <nav class="navbar navbar-expand-sm navbar-my navbar-default fixed-top">
        <div class="collapse navbar-collapse" id="navbarsExample03">
          <ul class="navbar-nav mr-auto">
            <a class="navbar-brand" href="#">
              <img src="assets/img/logo.png" alt="" width="70" height="25">
            </a>
            <li class="nav-item dropdown lang">
                <a class="nav-link dropdown-toggle " id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">EN</a>
                <div class="dropdown-menu" aria-labelledby="dropdown03">
                  <a class="dropdown-item" href="#">EN</a>
                  <a class="dropdown-item" href="#">FC</a>
                  <a class="dropdown-item" href="#">GR</a>
                  <a class="dropdown-item" href="#">IT</a>
                </div>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">011125623</a>
            </li>
           </ul>
      
          <ul class="navbar-nav">
            <a class="nav-link" href="#">Math Activities</a>
                <a class="nav-link" href="#">Matific Platform</a>
                <a class="nav-link" href="#">Our Pedagogy</a>
                <a class="nav-link" href="#">For Parents</a>
                 <a class="btn bg-transparent" href="#">Login</a>
                 <a class="btn btn-danger" href="#">Free Trial</a>
          </ul>
         </div>
      </nav>
    </header>

    <main role="main" class="">
      <h1 class="cover-heading">Maths Educational Platform <br> designed by pedagogical experts</h1>
      <p class="lead">Personalised maths learning for K-6 students aligned to your local curriculam.</p>
      <p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#eModal">Why Matific</button>
        <a href="#" class="btn btn-secondary">Start a Free Trial</a>
        </p>
    </main>

<section class="courses">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="assets/img/course1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">This is a longer card.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/img/course1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">This is a short card.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/img/course1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">This is a longer card.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
 </section>  
</div> 

<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" id="emodal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span area-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>




<script>
  $(window).scroll(function(){
	$('nav').toggleClass('scrolled', $(this).scrollTop() > 50);
});
</script>
  




<router-outlet></router-outlet>
